@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.background-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.orange {
    width: 25rem;
    height: 25rem;
    top: 50%;
    right: 60%;
    background: linear-gradient(to top, #f9c826, #ff5e00);
}

.red {
    background: linear-gradient(to top, #ff0000, #ff00aa);
    width: 22rem;
    height: 22rem;
    top: 30%;
    right: 15%;
}

.purple {
    background: linear-gradient(to right, #9900ff, #2c005f);
    width: 15rem;
    height: 15rem;
    top: 20%;
    right: 45%;
}

.cyan {
    background: linear-gradient(to left, rgb(0, 255, 255), rgb(0, 80, 80));
    width: 10rem;
    height: 10rem;
    top: 65%;
    right: 45%;
}

.block {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 25rem;
    background-color: rgb(202, 202, 202);
    border-radius: 30px;
    box-shadow: -4rem 4rem 4rem rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 2.5rem;
    background: linear-gradient(to bottom, #ffffff 0%, rgb(202, 202, 202) 100%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.title-aside {
    margin-top: 5rem;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
}

h1 {
    font-size: 1.7rem;
    font-weight: 700;
}

.article-line {
    display: flex;
    margin-left: 0.2rem;
}

.line {
    background-color: black;
    width: 4rem;
    height: 3px;
    border-radius: 50px;
    border: none;
}

.button-aside {
    display: flex;
    margin: 4rem 0 0 0;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 10rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.icon {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff;
    width: 2rem;
    height: auto;
    border-radius: 100%;
}

.icon img {
    width: 1.5rem;
}

.article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: linear-gradient(to bottom, #ffff 0%, rgb(202, 202, 202) 100%);
    width: 75%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.button-article {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 0 3rem 0;
}

.title {
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

input {
    text-align: justify;
    height: 2.5rem;
    width: 13rem;
    border: none;
    background-color: #ffffff00;
    outline: none;
}

input::placeholder {
    font-size: 1rem;
}

.inputs img {
    width: 2rem;
}

.img {
    display: flex;
    margin: 0 0 0 1.5rem;
}

.img1 {
    display: flex;
    margin: 0 1.5rem 0 0;
}

.input1, .input2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff77;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.input2 input{
    width: 9.5rem;
}

.input-p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 1rem 0 1rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkbox input {
    width: 1rem;
}